body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.cart {
    width: 45%;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}

.cart h2 {
    text-align: center;
}

.total {
    margin-top: 10px;
    text-align: right;
}

.pay{
    width: 85px;
    height: 30px;
    border-radius: 18px;
	margin-left: -215px;
    margin-top: 1px;

    transition: background-color 0.2s, box-shadow 0.2s;

    background-color: rgb(137, 130, 130);
    color: #fff;
    border: 1px solid black;
}

.pay:active {
    background-color: #545151;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.Container1 {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.grey-strip {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 3px solid white;
    border-bottom: 1px solid grey;
    border-right: 2px solid lightgrey;
}

.item1, .item2, .item3, .item4 {
    font-size: 24px;
    margin: 0 20px;
}

.item1 {
    margin-left: 400px;
}

.item4 {
    margin-right: auto;
}

.logo {
    height: auto;
    width: 200px;
    margin-left: 50px;
}

.cart1 {
    height: auto;
    width: 75px;
    margin-left: 125px;
}

.searchButton {
    height: auto;
    width: 35px;
    margin-left: 15px;
    margin-top: 5px;
}
